In [7]:
import pickle
import pandas as pd

In [2]:
from tensorflow.keras.models import load_model

model = load_model('model.h5')
print("Model loaded successfully.")

2025-07-31 15:32:18.693211: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

Model loaded successfully.

In [5]:
with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

In [6]:
input_data = {
    'CreditScore': 700,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 35,
    'Tenure': 5,
    'Balance': 50000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 60000
}

In [11]:
df = pd.DataFrame([input_data])

In [ ]:
data = pd.get_dummies(df, columns=['Geography', 'Gender'])

In [16]:
data

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Gender_Male
0,700,35,5,50000,2,1,1,60000,True,True

In [18]:
data['Geography_France'] = data['Geography_France'].astype(int)

In [19]:
data

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Gender_Male
0,700,35,5,50000,2,1,1,60000,1,True

In [20]:

data['Gender_Male'] = data['Gender_Male'].astype(int)

In [21]:
data['Geography_Germany'] = 0
data['Geography_Spain'] = 0
data['Gender_Female'] = 0

In [22]:
data

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Gender_Male,Geography_Germany,Geography_Spain,Gender_Female
0,700,35,5,50000,2,1,1,60000,1,1,0,0,0

In [28]:
X_test = scaler.transform(data)

In [31]:
# X_test contains all zeros because the scaler was likely fit on a different dataset,
# and the input data matches the mean values used during scaling.
# If the scaler was fit on a dataset where the mean of each feature is equal to the values in 'data',
# then transforming 'data' will result in zeros.

# To verify, you can check the scaler's mean_ attribute:
print("Scaler means:", scaler.mean_)
print("Input data values:", data.values[0])

# If data.values[0] matches scaler.mean_, X_test will be all zeros.

Scaler means: [7.0e+02 3.5e+01 5.0e+00 5.0e+04 2.0e+00 1.0e+00 1.0e+00 6.0e+04 1.0e+00
 1.0e+00 0.0e+00 0.0e+00 0.0e+00]
Input data values: [  700    35     5 50000     2     1     1 60000     1     1     0     0
     0]

In [30]:
X_test

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [24]:
y_pred = model.predict(X_test)
y_pred_class = (y_pred > 0.5).astype(int)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 76ms/step

In [25]:
y_pred

array([[0.24736062]], dtype=float32)

In [26]:
y_pred_class

array([[0]])